<!DOCTYPE html>
<html>
<head>
	<title>共通部分テンプレート</title>
</head>

<body>

	<div class="profile-container">
   <div class="container">
    <div class="row">
     <div class="col-xs-3">
	       <%= form_for(@user) do |f| %>
         <h3>User Info</h3>


	       <div>
	          <img class="attachment user profile_image fallback">
               <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img" %>
        <table class="table">
          <tbody>
          <tr></tr>
           <tr>
           <th><h5 class="profile-name"><%= @user.name %>name</h5></th>
           <th></th>
           </tr>
           <tr>
           <th><h5 class="profile-name"><%= @user.name %>Introduction</h5></th>
           <th></th>
           </tr>
          </tbody>
        </table>
          <div>
           <% if @user.id == current_user.id %>
           <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user"></a>
           <% end %>
           </div>
        </div>

        <% end %>

     <h1>NewBook</h1>
        <!-- form_for部分 -->
        <%= form_for(@book) do |f| %>
 
            <h4>Title</h4>
            <%= f.text_field :title %>
 
            <h4>Opinion</h4>
            <%= f.text_area :body %>
 
            <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
 
        <% end %>
     </div>
    </div>
   </div>
  </div>
  </body>
</html>  