<body>
<div class="container">
 <div class="row">
     <div class="col-xs-3">
        <%= render 'books/list', user: current_user %>
     </div>

  <p class="notice"><%= notice %></p>
  <div class="col-xs-8">
    <h2>Book detail</h2>

    <table class="table">
    	<tbody>
    	 <tr>
    	 	<td>
                <%= attachment_image_tag @user, :profile_image, :fill, 15, 15, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", :size =>'100x100' %>
            </td>
    	 	<td><%= @bookf.title %></td>
    	 	<td><%= @bookf.opinion %></td>
    	 	<% if @bookf.user == current_user %>
    	 	<td><%= link_to "Edit", edit_book_path(@bookf.id), class: "edit_book_#{@bookf.id}, btn-success" %> </td>
    	 	<td><%= link_to "Destroy", book_path(@bookf.id), method: :delete, class: "destroy_book_#{@bookf.id}, btn-danger" %></td>
    	 	<% end %>
    	 </tr>
    	</tbody>
    </table>

  </div>
 </div>
</div>
</body>