<!DOCTYPE html>
<html leng="en">
  <head>
    <title>Bookers2</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to ' Home', user_path(current_user), class: "home glyphicon glyphicon-home" %></li>
            <li><%= link_to ' User', users_path, class: "users glyphicon glyphicon-user" %></li>
            <li><%= link_to ' Books', books_path, class: "books glyphicon glyphicon-book"%></li>
            <li><%= link_to ' Logout', destroy_user_session_path,method: :delete, class: "logout glyphicon glyphicon-log-out" %></li>
            <% else %>
            <li><%= link_to ' Home', root_path, class: "home glyphicon glyphicon-home" %></li>
            <li><a class="glyphicon glyphicon-link about"> About</a></li>
            <li><%= link_to 'sign up', new_user_registration_path, class: "sign_up glyphicon glyphicon-edit sign_up" %></li>
            <li><%= link_to ' login',  new_user_session_path, class: "sign_in glyphicon glyphicon-log-in sign_in" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>

    <footer>
    <div class="container">
      <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
         <p>CopyRight Infratop.inc</p>
      </div>
    </div>
   </div>
   </footer>
  </body>
</html>
